.Learn > .Header{
    padding: 10%; 
    margin-bottom: 10%;
    background: #5cb980;
    color: #10311c;
    text-align: center;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.LearnDetails{
    margin-left: 10%;
    margin-right: 10%;
}

.LearnDetails > p{
   line-height: 1.5em;
}