
.Card{
    height: 190vh;
}

.Card > .greeting{
    margin-top: 15%;
    margin-left: 10%;
}

.noItems{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.noItems > h1{
    margin-top: 25%;
    font-size: 2em;
}

.button {
    text-decoration: none;
}