.NewItem{
    z-index: -3;
    height: 200vh;
}

.NewItem > .Container{
    padding: 15%; 
    background: #5cb980;
    color: #10311c;
    text-align: center;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.NewItem > form{
    z-index: -3;
}



.NewItem > .Container >.Close {
    position: absolute;
    left: 5%;
    top: 30px;
    text-decoration: none;
}

.NewItem > form > .btn{
    position: absolute;
    left: 30px;
    z-index: -2;
}